In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset, dtype=int)

In [4]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
dependent = dataset[['charges']]

In [8]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30, random_state = 0)

In [72]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(criterion = 'squared_error',max_features='sqrt',n_estimators=100,random_state=0)
regressor.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(max_features='sqrt', random_state=0)

In [73]:
y_pred = regressor.predict(X_test)

In [74]:
y_pred

array([10280.9738541 ,  8797.4405633 , 43635.394108  , 13743.3273559 ,
       10352.9509281 , 11339.5588511 ,  2138.4528485 , 11194.1638048 ,
        7489.650573  ,  5715.5934615 ,  5989.7999129 , 11865.5404008 ,
        7529.4538909 ,  5757.1446608 , 24068.2993826 , 11811.2660882 ,
       14233.4570346 ,  3785.4537332 ,  7428.7831188 , 32274.4978514 ,
       25313.810171  , 16676.1600332 , 10530.4374225 , 26470.7813234 ,
        3713.7677567 ,  7533.959234  ,  3827.9662541 ,  7702.030804  ,
        3769.6876185 , 11248.6634668 ,  7585.1449626 , 45211.4650225 ,
       15469.9835781 , 13652.6772322 , 18471.4430769 ,  5417.2608343 ,
        8662.5365819 , 37876.717367  , 37901.617009  ,  2145.961514  ,
        5002.7584761 ,  3596.9025444 , 19584.2947304 , 46335.1349522 ,
       38289.8008188 ,  3531.64879   , 12208.0731942 ,  6954.7112191 ,
        6150.9735156 , 13483.632816  ,  4212.1472685 ,  5030.7376022 ,
       26216.1341667 , 44304.9287817 , 11705.603491  , 10381.6109684 ,
        4281.6120489 , 10374.8856574 ,  9421.7032301 , 14958.231543  ,
        1851.9336933 , 43397.7342021 , 14749.0649775 , 19868.6663147 ,
       11100.8669881 , 10010.2391215 , 29445.2880658 , 40033.4493754 ,
        4042.2522563 ,  8706.3723062 , 14083.838003  , 11575.2496233 ,
       17449.5726592 , 13784.9442162 , 13484.0958499 , 13642.6749362 ,
       10664.3809162 , 15538.7342659 , 21015.853694  , 43718.5645963 ,
       11479.750034  , 46922.5878924 ,  5162.2265925 ,  8383.5193944 ,
       39608.9755015 , 20147.4838015 ,  6738.9602975 ,  3682.2397197 ,
       13217.6897189 , 36568.9877841 ,  6270.1860467 , 15377.355728  ,
        4028.3026687 ,  9090.3526173 , 10472.596948  ,  4615.3439935 ,
       41956.0366093 , 36945.3739433 ,  5338.104415  , 11484.5252411 ,
        4678.4124552 ,  8333.0918212 ,  7935.1987473 , 36426.3884678 ,
       26306.4700929 ,  3886.0601629 , 11121.2954846 ,  3465.5794421 ,
       12011.2107272 , 44852.6828275 , 11762.826115  ,  8641.727729  ,
        8872.250445  , 33877.571083  , 44464.9206671 ,  7682.883784  ,
        2685.729213  , 10643.2659947 , 14796.0959311 , 10610.1883579 ,
       41839.5804004 , 11212.1725394 , 13912.885259  ,  8444.0239513 ,
       11426.2881775 ,  5551.828937  , 23791.5018334 , 25202.507684  ,
       47396.9562181 ,  2004.0265051 ,  9786.7908947 ,  3194.9724207 ,
        6890.2528791 ,  8961.3524731 , 34229.6160134 , 33422.4792447 ,
       26553.5976514 , 11169.2216419 , 24775.658219  ,  5151.0629552 ,
        1979.86883   , 12838.0788399 , 10191.7277934 , 11044.5923715 ,
        6510.7922627 , 14213.5712135 , 18289.501841  , 10922.6038411 ,
        1944.9530131 , 11060.6942636 ,  6488.6057211 , 38158.4947765 ,
        9872.9604803 ,  5569.0704716 ,  3300.0103215 ,  7214.2482192 ,
        3589.4212832 ,  6440.5503062 , 11811.2660882 ,  9732.4011671 ,
        5412.7671129 , 13199.5861646 , 13281.4857449 ,  9384.2987404 ,
        3854.2245266 ,  7567.6869239 , 17776.2290656 ,  8611.1764338 ,
        5716.2675977 ,  2119.805405  ,  7053.8367203 ,  5969.6537612 ,
        9805.3748565 ,  2501.0260483 ,  4527.7364194 ,  7465.1850837 ,
        4730.3038504 ,  6406.771242  , 30808.1705416 ,  1802.2303349 ,
       17865.6356242 ,  7096.8592358 , 11658.3448663 ,  4787.512365  ,
        8034.953483  , 27764.278587  ,  4095.1905067 ,  2817.26993   ,
       14120.861751  , 10407.0402007 , 42034.7323776 ,  8889.2683989 ,
        5580.0058595 , 26906.5669251 ,  3034.4747029 ,  2796.7578757 ,
        9598.584962  ,  6335.720156  ,  9727.8699519 ,  4888.7666795 ,
       12200.0555283 , 45157.0376232 , 18845.3168327 , 19418.9503315 ,
       12101.2924706 , 43877.5667395 ,  4438.036067  ,  9701.9900416 ,
       10368.9403868 ,  3763.7323765 ,  8971.6954184 , 13974.2049946 ,
        8982.0074451 ,  4352.9319145 ,  6441.9042645 ,  3592.1253386 ,
        6359.2239659 ,  6008.3083482 , 13624.549787  ,  6437.5887125 ,
        8254.3990477 ,  8235.6368383 ,  9584.8861297 ,  9765.348093  ,
       12372.62075   , 14327.670959  , 18150.2797741 , 12896.4039729 ,
        6542.8840899 ,  2664.881549  ,  3169.9166434 ,  7925.1273477 ,
       13753.6120147 ,  8504.6989251 ,  8000.5457167 ,  7628.3093272 ,
       15322.623062  , 33818.1846872 ,  5942.3287726 , 12312.3332085 ,
        7462.5842962 , 37249.4375341 ,  9184.9060491 ,  8451.8100839 ,
        9779.3046471 , 10409.2805361 ,  3264.6354468 ,  8106.0463803 ,
        5399.5443542 ,  6158.0737689 , 19771.5432806 , 44131.7913925 ,
        5737.9711002 ,  7150.1888583 ,  9984.5351315 ,  1572.996114  ,
        7496.5096765 ,  4351.64741773,  5622.6461028 , 10375.7202759 ,
        8241.20196   , 25754.6935115 , 43774.53138   , 14858.7795272 ,
        6289.9756625 , 11321.4071005 , 42321.1210855 , 10604.5050507 ,
       39629.7961875 ,  1324.3389235 , 39088.6006671 ,  6155.9059053 ,
       12825.0429237 ,  8563.9639511 , 38921.2490907 ,  5159.6018487 ,
       10069.5162997 ,  9312.0928003 ,  4747.56749   , 15978.5861296 ,
       12167.0340894 , 10924.3924658 , 14668.4436681 , 15585.701753  ,
        7887.7384531 ,  5585.6069534 ,  9478.0818894 , 22045.9896452 ,
        4550.1271739 ,  1811.0077365 ,  3051.1317415 , 46072.8248837 ,
        9550.9298155 ,  4336.455519  , 16925.5283239 , 14323.4834456 ,
       34333.1802338 ,  7968.2614985 ,  6102.4650872 ,  9171.20889   ,
        3668.9411594 ,  5038.6364912 , 22536.0491926 , 18317.973455  ,
       13226.6416697 ,  2703.9053305 ,  3961.3343052 ,  9343.1456312 ,
       10370.9713446 , 17890.8353049 , 21218.3151592 ,  6834.2746315 ,
       18219.0149148 ,  2897.7728315 ,  6452.047897  , 10152.6126954 ,
       15504.9122265 ,  3428.1519978 ,  7993.6307809 , 44184.6234949 ,
        3697.5286329 ,  5421.7118439 ,  2148.0254605 , 12988.3373729 ,
        3776.6648606 , 11989.564204  , 43504.6951197 , 18790.9747667 ,
        9041.4739413 , 39514.3199231 , 16377.3737235 , 12461.5481583 ,
       10266.8877824 ,  6832.4547314 , 27972.1147575 ,  4380.5942365 ,
       14311.3481216 ,  3555.8202811 , 18041.8462482 ,  3509.4036773 ,
       26408.1145597 ,  7783.3344685 ,  3860.0834651 , 40363.7820617 ,
        8084.3892989 ,  5214.3560135 , 33821.1741144 ,  3652.4021528 ,
        8951.098933  ,  3614.2922391 , 13080.4320465 ,  3390.632692  ,
        6011.5993752 ,  7324.8820015 , 44396.1022867 , 10679.0332673 ,
       35767.0317155 , 38390.7103031 ,  6097.9875819 ,  8735.0814498 ,
        1593.0821685 ,  6420.2635846 ,  4945.9035846 ,  9195.8340317 ,
       46063.4289233 , 11309.2503942 ,  2185.862332  , 13818.7916462 ,
        2080.3376935 , 13349.7050159 , 10044.3423401 ,  2272.5575335 ,
        5660.4404209 , 36455.676858  ,  6215.2761375 ,  2079.234149  ,
       40172.9473658 , 11461.3365632 , 43186.9376297 , 11060.6395957 ,
        7155.3330002 ,  2828.7619084 ,  2120.2644345 , 12629.7772684 ,
        6295.4436398 ,  1942.108184  , 10751.0572265 ,  7269.846417  ,
        7254.7337576 ,  9002.1201127 ,  6951.23017   , 40579.5811177 ,
        5902.1847498 , 14264.8981941 ,  8579.73021278, 17177.1301703 ,
       11507.1022316 ,  8333.5741579 , 18470.3089262 , 12586.955892  ,
       17089.1959214 , 20033.9576772 ])

In [75]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)
r_score

0.8698522192543627

In [76]:
import pickle 
filename = "finalized_model_RF.sav"
pickle.dump(regressor,open(filename,'wb'))